@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./Assets/arrowSelect.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 24px auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
